@using CoSpace.Enums;
@model CoSpace.Models.PayViewModel

@{
    ViewData["Title"] = "Pay";
    Layout = null;
}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


<h4 style="font-family: 'Montserrat', sans-serif;">Pagar</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Pay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BookingId" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <div>
                    <select asp-for="PaymentMethod" class="form-control">
                        @foreach (var item in Enum.GetValues(typeof(PaymentMethod)))
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
